@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
   font-family: "Urbanist", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
   font-family: "Urbanist", sans-serif;
}

h1 {
    font-size: 2.2rem !important;
    font-weight: 700 !important;
  }
.lead {
    font-size: 1.8rem !important;
    font-weight: 700 !important;
  }
p {
  font-size: $mercy-font-size-1;
   font-family: "Urbanist", sans-serif;
}
ul, ol {
  font-size: $mercy-font-size-1;
   font-family: "Urbanist", sans-serif;
}
a {
  font-size: $mercy-font-size-1;
   font-family: "Urbanist", sans-serif;
}
div {
   font-family: "Urbanist", sans-serif;
}
span {
  font-size: $mercy-font-size-1;
   font-family: "Urbanist", sans-serif;
}
label {
  font-size: $mercy-font-size-1 !important;
   font-family: "Urbanist", sans-serif;
}