// Global Colours
$mercy-white: #ffffff;
$mercy-color-1: #0f9ed5;
$mercy-color-2: #f8f9fc;
$mercy-color-3: #d3d3d3;
$mercy-color-4: #006FA7;
$mercy-color-5: #001923;
$mercy-color-6: #e5e7eb;

// Font size
$mercy-font-size-1: 1.6rem;

/* Button Colours */
$btn-color-1: #FFDADF;
$btn-color-2: #FDCAB9;
$btn-color-3: #DCC2E0;
$btn-color-4: #A6C3E4;
$btn-color-5: #FFFFB7;
$btn-color-6: #C9EADB;

$box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);

// Mixins
@mixin border($property) {
    #{$property}: 1.5px solid $mercy-color-1;
}

@mixin img() {
    object-position: center;
    border: 1px solid black;
    border-radius: 3px;
    object-fit: cover;
}

@mixin transition () {
    transition: 350ms ease-out;
}