.collaboration {
  // border: none !important;
  border-radius: 5px;
  &:hover {
    background: #F4FDFF;
  }
  padding: 2rem;
}

.collaboration-details {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    &-name {
      display: flex;
      align-items: center;
      margin: 0;
      width: 100%;
      &-img {
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        border-radius: 100%;
        object-fit: cover;
        margin: 0 0.7rem 0 0;
      }
      &-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        .collaboration-details-posted {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
    }
    p {
      font-size: 1.4rem;
      margin: 0;
    }
  }
.collaboration-pay {
  justify-content: center;
  @media screen and (max-width: 1000px) {
    justify-content: left;
  }
}
.designation-button {
  font-size: 1.4rem !important;
  display: flex;
  align-items: center;
  padding:  .5rem 2rem;
  color: white;
  background: red;
  height: fit-content;
  margin-right: 1rem;
  font-weight: 700;
}
.due-button {
  font-size: 1.4rem !important;
  display: flex;
  align-items: center;
  padding:  .5rem 2rem;
  background: lightgrey;
  height: fit-content;
  font-weight: 700;
}
.option-button {
  display: block;
  width: .5rem;
  height: .5rem;
  background: grey;
  border-radius: 100%;
  margin-right: .3rem;
}
.collaboration-header {
  display: grid !important;
  grid-template-columns: 4fr 1fr;
  height: fit-content;
  margin-bottom: 2rem;
}

.collab-btn {
  background: none !important;
  border: 2px solid black !important;
  color: black !important;
}

.collaboration-icon {
width: 4rem;
}