@use '../_partials/variables' as *;
.collaboration {
  // border: none !important;
  border-radius: 5px;
  &:hover {
    background: #F4FDFF;
  }
  padding: 2rem;
}

.collaboration-details {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    &-name {
      display: flex;
      align-items: center;
      margin: 0;
      width: 100%;
      &-img {
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        border-radius: 100%;
        object-fit: cover;
        margin: 0 0.7rem 0 0;
      }
      &-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        .collaboration-details-posted {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
    }
    p {
      font-size: 1.4rem;
      margin: 0;
    }
  }
.collaboration-pay {
  justify-content: center;
  @media screen and (max-width: 1000px) {
    justify-content: left;
  }
}
.designation-button {
  font-size: 1.4rem !important;
  display: flex;
  align-items: center;
  padding:  .5rem 2rem;
  color: white;
  background: red;
  height: fit-content;
  margin-right: 1rem;
  font-weight: 700;
}
.due-button {
  font-size: 1.4rem !important;
  display: flex;
  align-items: center;
  padding:  .5rem 2rem;
  background: lightgrey;
  height: fit-content;
  font-weight: 700;
}
.option-button {
  display: block;
  width: .5rem;
  height: .5rem;
  background: grey;
  border-radius: 100%;
  margin-right: .3rem;
}
.collaboration-header {
  display: grid !important;
  grid-template-columns: 4fr 1fr;
  height: fit-content;
  margin-bottom: 1rem;
}
.collab-btn {
  background: none !important;
  border: 2px solid black !important;
  color: black !important;
  width: fit-content;
  &:hover {
    background: black !important;
    color: white !important;
  }
}
.collaboration-icon {
width: 4rem;
}
.options-container {
  margin-left: auto;
  position: relative;
  width: fit-content;
  position: relative;
  z-index: 999999;
  .options {
    position: relative;
    z-index: 999999;
    height: fit-content;
    cursor: pointer;
  }
  &:hover {
    .option-items {
      display: block;
    }
  }
  .option-items {
    display: none;
    margin-top: 1rem;
    position: absolute;
    z-index: 9;
    width: fit-content;
    top: 0;
    right: 0;
    border-radius: .5rem;
    background-color: rgb(lightgrey, 0.3);
    padding: 0.5rem 1rem;
    color: black;
    .option-item {
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid grey;
      }
    }
  }
}

.collaboration-page_image {
  width: 100%;
}

  /* Overlay */
.drawer-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 2, 23, 0.35);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Safari */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;

  
}

.drawer-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

/* Drawer */
.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    max-width: 100%;
    height: 100vh;
    background: #ffffff;
    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 1000;
    padding: 32px;
    overflow-y: auto;
}

.drawer.open {
    transform: translateX(0);
    padding-top: 10rem;
}

/* Header */
.drawer-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.drawer-divider {
    width: 80%;
    height: 1px;
    background: rgba(217, 217, 217, 0.3);
    margin: 12px 0 25px;
}

.back-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Badge */
.points-badge {
    background: linear-gradient(90deg, rgba(255, 98, 0, 0.5) 0%, rgba(255, 245, 200) 100%);
    padding: 9px 27px;
    font-size: 16px;
    border-radius: 30px;
}

/* Form */
.drawer-form label {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}


.first-label {
  margin-top: 20px;
}

.drawer-form input,
.drawer-form textarea,
.drawer-form select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid rgba(217, 217, 217, 0.5);
}

.drawer-form textarea {
    min-height: 100px;
}

.drawer-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.btn-dark {
    background: #001f2d;
    color: #fff;
    border: none;
    padding: 10px 20px !important;
    border-radius: 8px;
}