// Jobs
.tab-items {
    // Single Job
    .jobs-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem 3rem;        
        @media screen and (max-width: 999px) {
            grid-template-columns: 1fr;
        }
        .job {
            width: 100%;
            height: 100%;
            .card {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.postedDate {
    white-space: nowrap;
}

.form-create-job {
    width: 100%;
    border: 1px solid grey;
    padding: 4rem 3rem;
    position: relative;
}

.points {
    &::before {
        content: "5 points required!";
        background: #ff0000;
        position: absolute;
        font-size: 1.6rem;
        width: fit-content;
        padding: 0.5rem 1rem;
        color: white;
        font-weight: 600;
        top: -18px;
        margin: auto;
        left: 0;
        right: 0;
    }
}

.job-detail-div {
    height: 300px;
    overflow-y: scroll;
}

.get-help-item {
    position: relative;
    .checked-mark {
        position: absolute;
        right: -5px;
        top: -10px;
    }
}