@import "../_partials/variables";

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    padding: 16px;
    background: #FAFAFA;
    a {
        text-decoration: underline !important;
    }
}

.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20rem 0;
    padding: 16px;
    background: #FAFAFA;
    a {
        text-decoration: underline !important;
    }
    p {
        margin: 0 !important;
    }
}

.col:has(.login-header) {
 width: 100% !important;
 max-width: 400px !important;
}

.login-header {
    max-width: 400px;
    width: 100%;
}

.form-container {
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background: #ffffff;
    border-radius: .75rem;
}

.form-container-register {
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 700px;
    padding: 40px;
    background: #ffffff;
    border-radius: .75rem;
}

.form-login {
    width: 100%;
    max-width: 54.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-btn {
    width: 100%;
}

.login-lead {
    text-align: center;
}

.span-login {
    margin: 0 0 0 0.5rem 
}

.form-login-check {
    margin: 0 0 1rem 0;
}