@use '../_partials/variables' as *;

.mentors-chat {
    margin-bottom: -11rem;
    // background-color: $mercy-color-2;
    background-color: #fff;
    overflow-x: hidden;
}
.chat-date {
    font-size: 1.2rem !important;
    color: grey;
}
.mentors-chat-list {
    height: 100%;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.mentors-chat-item {
    border-left: 1px solid #d0cccc;
}
.mentors-chat-item-header {
    background-color: #fff;
    &-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .row {
            padding: 2rem 2rem 1rem 2rem;
        }
    }
    .row {
        padding: 2rem 2rem 1rem 2rem;
    }
}
.chat-item-header-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @include img;
    border-radius: 50%;
}
.mentors-chat-item-body {
    height: calc(90vh - 190px);
    overflow-y: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: #fafafa;
    position: relative;
    .collaboration-title {
        position: absolute;
        font-size: 1.6rem;
        font-weight: 700;
        top: 0;
        padding: 1rem 2rem;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
}
.mentors-chat-item-keyboard {
    border-top: 1px solid #d0cccc;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #fafafa;
    border: 1px solid #fafafa !important;
    padding: 2rem 2rem 1rem 2rem;
    position: relative;
    div {
        width: 100%;
    }
}
.chat-input {
    color: #000;
    // box-shadow: 0px 0px 7px grey !important;
    border-radius: 10px !important;
    border: 2px solid #d3d3d3 !important;
    padding: 1rem 1rem !important;
}
.send-chat {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100% !important;
    &-input {
        width: 100% !important;
        &:focus {
            outline: none;
            border: none;
        }
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content !important;
        background-color: transparent;
        padding: 1rem;
        border-radius: 50%;
        margin-left: - 3.8rem;
        border: none;
        @include transition;
        &:hover {
            cursor: pointer;
        }
        .send-icon {
            width: 1.7rem;
            height: 1.7rem;
            filter: invert(53%) sepia(83%) saturate(1525%) hue-rotate(161deg) brightness(87%) contrast(92%);
            &:hover {
                filter: invert(0%) sepia(4%) saturate(7500%) hue-rotate(216deg) brightness(102%) contrast(105%);
            }
        }
    }
}
.chat {
    margin: 1rem 0;
}
.current-user-message {
    width: fit-content;
    max-width: 70%;
    float: right;
    margin-left: auto;
    display: block;
    .card {
    border-radius: 1.5rem 1.5rem 0 1.5rem !important;
    background-color: $mercy-color-1 !important;
    color: #fff !important;
    font-weight: 500 !important;
    margin-right: 7rem;
    margin-bottom: -0.5rem;
    margin-left: auto !important;
    border: none !important;
    width: fit-content !important;
    padding: 0 1rem !important;
    p {
        margin: 0;
    }
    }
    .image {
        margin-right: 2rem;
        display: flex;
        justify-content: end;
        flex-direction: row;
        .date {
            margin-right: 1rem;
        }
        .chat-img {
            width: 4rem !important;
            height: 4rem !important;
            @include img;
            border-radius: 50%;
        }
    }
}
.other-user-message {
    width: fit-content;
    max-width: 70%;
    margin-right: auto;
    float: left;
    .card {
    border-radius: 1.5rem 1.5rem 1.5rem 0 !important;
    background-color: lightgrey !important;
    color: #000 !important;
    font-weight: 500 !important;
    margin-left: 7rem;
    margin-bottom: -0.5rem;
    margin-right: auto !important;
    border: none !important;
    width: fit-content !important;
    padding: 0 1rem !important;
    p {
        margin: 0;
    }
    }
    .image {
        margin-left: 2rem;
        display: flex;
        justify-content: start;
        flex-direction: row-reverse;
        .date {
            margin-left: 1rem;
        }
        .chat-img {
            width: 4rem !important;
            height: 4rem !important;
            @include img;
            border-radius: 50%;
        }
    }
}

.sidebare-lastchat p {
    color: lightgray;
    margin: 0;
}

.sidebare-lastchat * {
    font-size: 1.4rem !important;
    font-family: "Urbanist", sans-serif;
    color: inherit !important;
}
.side-chat-dots {
    ::after {
        content: "...";
        display: inline;
    }
}
.chat-icons {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  @include transition;
  &:hover {
    filter: invert(53%) sepia(83%) saturate(1525%) hue-rotate(161deg) brightness(87%) contrast(92%);
  }
}

.current-chat {
    background-color: $mercy-color-1 !important;
    border-bottom: 1px solid $mercy-color-1;
    color: #fff;
}

.chat-item-detials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    &-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
}

.sidebar-lastchat-date {
    margin-left: 3rem;
    font-size: 1.2rem !important;
}

.send-chat-extra-icon {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    object-fit: cover;
    cursor: pointer;
}

.send-chat-extra-icon-schedule {
    margin-right: 0 !important;
    padding: 0rem !important;
    width: 3rem;
    height: 3rem;
}

.send-chat-extra-icon-emoji {
    width: 4rem;
    height: 4rem;
}

.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}
.calender-schedule-modal {
    max-width: 50rem;
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    .card {
        .card-body {
            padding: 2rem;
        }
    }
}
.modal-container-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background-color: #000;
    opacity: .7;
}

.instructions {
    border-left: 2px solid #d0cccc;
    color: #000;
}

.search-chats-container {
    transition: 350ms ease-out;
}

// Emoji

.test {
    width: 550px !important;
    position: relative;
    .emoji-picker {
        position: absolute !important;
        top: 0;
        bottom: 0;
        aside.epr-main.EmojiPickerReact.epr_mw4zr1.epr_q53mwh.epr_7hyle2.epr_-x928hz.epr_-rvl3je.epr_-khp9xq.epr_-to8mm.epr_-4ueg5a.epr_iddbfm.epr_vy4vae.epr_6daqyu.epr_-6npj90.epr-reactions.epr_-ho3wkq.epr_wowgl1.epr_aubndr.epr_-ufcete.epr_gv5p49 {
            position: absolute !important;
            /* top: 0; */
            width: 100%;
            bottom: -25px;
        }
        aside.epr-main.EmojiPickerReact.epr_mw4zr1.epr_q53mwh.epr_7hyle2.epr_-x928hz.epr_-rvl3je.epr_-khp9xq.epr_-to8mm.epr_-4ueg5a.epr_iddbfm.epr_vy4vae.epr_6daqyu.epr_-6npj90.emoji-picker-picker {
            position: absolute !important;
            max-width: 349px;
            bottom: -25px;
        }
    }
}
.mentor-request-icon {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    text-align: right;
    padding: 5px 5px 0;
    float: right;
    :hover {
      filter: invert(13%) sepia(96%) saturate(6849%) hue-rotate(358deg) brightness(92%) contrast(117%);
    }
}
.chat-instructions {
    position: relative;
    .mentor-cotification-count {
        position: absolute;
        background-color: red;
        top: -5px;
        width: fit-content;
        height: fit-content;
        color: white;
        display: flex;
        min-width: 18px;
        min-height: 18px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: 700;
        right: 0;
        padding: 0 5px;
    }
}