@use '../_partials/variables' as *;

.questions {
    padding-top: 4rem;
}

.question-box {
    padding: 1.5rem !important;
}

textarea[data-info="content"]{
    background-color: $mercy-color-2;
}

.question-image {
    margin-bottom: 1.5rem;
    &-item {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.question-item {
    background: #F4FDFF !important;
}

.tox.tox-tinymce {
    height: 300px !important;
}

.question-select {
    border: none !important;
    width: 100%;
}