@use '../_partials/variables' as *;

// Side Navigation
.side-navigation {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 95px;
    // background: #ffffff;
    padding-bottom: 60px;
    height: 100%;
    width: 16%;
    @media screen and (max-width: 1000px) {
        display: none;
    }
    a {
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 30px 16px;
        border-bottom: 0.75px solid $mercy-color-6;
        display: flex;
        align-items: center;
        // background: $mercy-white;
        font-weight: 500;
        &:hover {
            background: #001923;
            color: #ffffff !important;
             .icon-container {
                background: rgba(31, 56, 75);
                svg {
                    color: $mercy-white;
                }
             }
        }
        &.active {
            background: #001923;
            color: #ffffff !important;
             .icon-container {
                background: rgba(31, 56, 75);
                svg {
                    color: $mercy-white;
                }
             }
        }
        .icon-container {
            padding: 5px 8px;
            border-radius: 100%;
            // background: #f1f2f3;
            margin-right: 10px;
            &:hover {
                background: rgb(30 41 59);
            }
            svg {
                color: gray;
            }
        }
    }
}