// Side Navigation
.side-navigation {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 16px 0 0;
    position: fixed;
    top: 0;
    background: #ffffff;
    padding-bottom: 60px;
    height: 100%;
    width: 14%;
    @media screen and (max-width: 1000px) {
        display: none;
    }
    a {
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 30px 16px;
        border-bottom: 0.75px solid $mercy-color-6;
        display: flex;
        align-items: center;
        background: $mercy-white;
        font-weight: 500;
        &:hover {
            background: rgb(30 41 59);
            color: #ffffff !important;
             .icon-container {
                background: rgba(31, 56, 75);
             }
        }
        .icon-container {
            padding: 5px 8px;
            border-radius: 100%;
            background: rgb(236 254 255);
            margin-right: 10px;
            &:hover {
                background: rgb(30 41 59);
            }
            svg {
                color: rgb(34 211 238);
            }
        }
    }
}