@use '../_partials/variables' as *;

.points-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #f0f0f0, #fff1e8);
}

.points-summary-row {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    align-items: center;
}

.points-card {
    background: #001923;
    color: white;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 320px;
}

.points-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #d9d9d9;
}

.points-explainer {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.earn-points-pill {
    background: #001923;
    color: #fff;
    padding: 14px 24px;
    border-radius: 999px;
    border: none;
}



.points-box {
    background: #fff;
    border-radius: 16px;
    padding: 24px;
}

/* Badge */
.points-tag {
    background: linear-gradient(90deg, rgba(255, 98, 0, 0.5) 0%, rgba(255, 245, 200) 100%);
    padding: 9px 27px;
    font-size: 16px;
    border-radius: 30px;
}

.points-list {
    margin-top: 25px;
}

.play-ad-btn {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background: #e0e0e0;
}
