.points-center {
    &__header {
        margin: 9.5rem 0 2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .image {
            width: 10rem;
            height: 10rem;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 1rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .details {
            font-size: 1.8rem;
            span {
                color: $mercy-color-4;
                font-weight: 700;
            }
        }
    }
    &__participation {
        margin: 2rem 0 10rem 0;
    }
    .add-points {
       margin-top: 4rem; 
       .points-checkout {
            max-width: 81.8rem;
            background: rgba(#D9D9D980, .5);
            padding: 4rem 3rem;
            .input {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: 3rem 7rem;
                p {
                    margin: 0;
                }
                input {
                    font-size: 1.6rem;
                    height: 4.5rem;
                    width: 8.5rem;
                }
            }
            .checkout {
                display: flex;
                align-items: center;
                .total {
                    font-size: 3.6rem;
                    font-weight: 700;
                    margin: 0 3rem 0 0;
                }
            }
       }
    }
    table {
        margin: 1.6rem 0 0 0;
        width: 100%;
        font-size: 1.8rem;
        thead {
            th {
                padding: 2rem 1rem;
                background: linear-gradient(to right, #00AAFF, #000000);
                color: $mercy-white;
            }
        }
        tbody {
            tr {
                th, td {
                    padding: 1rem 1rem 2rem;
                }
                .highlight1 {
                    background-color: rgba(#00AAFF, 0.07) !important;
                }
                .highlight2 {
                    background-color: rgba(#000000, 0.04) !important;
                }
            }
        }
    }
    table, th, td {
        border: 3px solid #ffffff;
        border-collapse: collapse;
    } 
}